/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #116466; }

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff; }

.cover-container {
  max-width: 42em; }

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem; }

.masthead-brand {
  margin-bottom: 0; }

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5); }

h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center; }

body {
  width: 640px;
  margin: 0 auto; }

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0); }

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px; }

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer; }

h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center; }

body {
  display: -ms-flexbox;
  display: flex;
  color: #ffcb9a; }

.nav-masthead .active {
  color: #d1e8e2;
  border-bottom-color: #fff; }

.h3, h3 {
  font-size: 1.75rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-style: normal; }
